<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a [routerLink]="['/']">Hons Research</a></h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/profile']" *ngIf="authService.loggedIn()">Profile</a>
    <a class="p-2 text-dark" [routerLink]="['/dashboard']" *ngIf="authService.loggedIn()">Dashboard</a>
    <a class="p-2 text-dark" [routerLink]="['/addworkout']" *ngIf="authService.loggedIn()">Add Workout</a>
    <a class="p-2 text-dark" href="#" (click)="onLogoutClick()" *ngIf="authService.loggedIn()">Logout</a>
    <a class="p-2 text-dark" [routerLink]="['/login']" *ngIf="!authService.loggedIn()">Login</a>
  </nav>
  <a class="btn btn-outline-primary" [routerLink]="['/register']" *ngIf="!authService.loggedIn()">Register</a>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Honours Research</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="p-2 text-dark" [routerLink]="['/profile']" *ngIf="authService.loggedIn()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="p-2 text-dark" [routerLink]="['/dashboard']" *ngIf="authService.loggedIn()">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="p-2 text-dark" [routerLink]="['/addworkout']" *ngIf="authService.loggedIn()">Add Workout</a>
      </li>
      <li class="nav-item">
        <a class="p-2 text-dark" href="#" (click)="onLogoutClick()" *ngIf="authService.loggedIn()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="p-2 text-dark" [routerLink]="['/login']" *ngIf="!authService.loggedIn()">Login</a>
      </li>
      <li class="nav-item">
        <a class="p-2 text-dark" [routerLink]="['/register']" *ngIf="!authService.loggedIn()">Register</a>
      </li>
    </ul>
  </div>
</nav>