<app-navbar></app-navbar>
<div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright
        <a [routerLink]="['/terms']">Terms</a>
        <a [routerLink]="['/privacy']">Privacy</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

