<div *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
  <div *ngIf="currentWorkoutCount >= previousWorkoutCount">
    <p>You have completed {{ currentWorkoutCount }} activity this week! You completed {{ previousWorkoutCount }} activity last
      week. Excellent Job
    </p>
  </div>
  <div *ngIf="currentWorkoutCount < previousWorkoutCount">
    <p>You have completed {{ currentWorkoutCount }} activity this week! You completed {{ previousWorkoutCount }} activity last
      week. You need {{ previousWorkoutCount - currentWorkoutCount}} more activity to catch up! Keep going!</p>
  </div>
</div>