<div class="list-group" *ngFor='let workout of workouts'>
  <a href="" (click)="submitWorkout(workout)" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{workout.activityName}}</h5>
      <small>{{workout.starttime}}</small>
    </div>
    <p class="mb-1">Duration: {{ msToTime(workout.duration) }}</p>
    <p class="mb-1">Start Time: {{ workout.startTime | date:'medium' }}</p>
  </a>
</div>

<div *ngIf="workouts.length == 0">
  <p>No workout data available</p>
</div>

<div>
  <a href='{{ angularUrl }}'>Refresh Workout List</a>
</div>